body {
    margin: 0;
    padding: 20px;
    font-family: lato, sans-serif;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: #011d3d;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.item-card {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    background: #011d3d;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #f05c07;
}

