body {
    margin: 0;
    padding: 20px;
    font-family: lato, sans-serif;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

header {
    width: 500px;
    background: #6842ff;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

main {
    width: 100%;
    color: #ffffff;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card-container {
    display: flex;
    flex-direction: column;
    width: 490px;
    gap: 10px;

}

.item-card {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    background: #6842ff;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

